@use '../custom' as *;
@use '../base/_mixins' as m;
@use '../base/animation' as *;

*{
    overflow-x: hidden;
}
.header {
    @include m.background-image ('../src/img/header.jpg');
    position: relative;
    .header-guitar{
        display: none;
        @include media-breakpoint-up (lg){
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            overflow-x: hidden;

            animation-name: animateImage;
            animation-duration: 3s;
            animation-delay: 0s;
            animation-timing-function: ease-in-out;
        }
    }
}
.navmenu {
    position: relative;
    z-index: 1;
    text-decoration: none;
        &:hover{
            background-color: $primary;
        }
}